* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #333;
  color: #eee;
}
#mynetwork {
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
